*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.box{
    width: 80%;
    min-height: 50px;
    border: 1px solid #000;
    margin: auto;
}
nav{
    width: 80%;
    min-height: 50px;
    background-color: black;
    position: fixed;
    top:0;
     

}
nav ul{
    width: 100%;

}
nav ul li{
list-style-type: none;
display: inline-block;
padding-top: 15px;

}
nav ul li a{

    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}
#option1{

    width: 100%;
    height: 100vh;
     
  /*  background-color: aqua; */
    background-image:  linear-gradient(to right, #bdc3c7, #2c3e50);;

}

#option1 h2{
    color:cornsilk;
    text-align: center;
    padding-top:90px;
}
    
     
/* #optional #hometext{
    width: 70%;
    padding-top: 20px;
    min-height: 100px;
    border: 3px solid red;
}
#hometext img{
    width: 30%;
} */


#option2 h2{
    color: black;
    padding-top: 100px;
    text-align: center;
}


#option2{

    width: 100%;
    height: 100vh;
    background-color: green;

}
#option2 h2{
    color: white;
    padding-top: 100px;
    text-align: center;
}

#option3{

    width: 100%;
    height: 100vh;
    background-color: orange;

}
#option3 h2{
    color: white;
    padding-top: 100px;
    text-align: center;
}

#option4{

    width: 100%;
    height: 100vh;
    background-color: yellow;

}
#option4 h2{
    color: white;
    padding-top: 100px;
    text-align: center;
}

#option5{
    width: 100%;
    height: 100vh;
    background-color: purple;

}
#option5 h2{
    color: white;
    padding-top: 100px;
    text-align: center;
}
#option6{
    width: 100%;
    height: 100vh;
    background-color: burlywood;

}
#option6 h2{
    color: black;
    padding-top: 100px;
    text-align: center;
}